
<div class="container flex-column my-5 pt-4 border-top">
    <div class="row justify-content-sm-center">
        <div class="col-sm-auto">
            <a target="_blank" href="https://t.me/django_school">Django School</a>
        </div>
        <div class="col-sm-auto">
            <img class='ml-2' src="https://telegram.org/img/t_logo.svg" alt="Telegram" height="16px">
        </div>
        <div class="col-sm-auto">
            <a target="_blank" href="https://t.me/DJWOMS">DJWOMS</a>
        </div>
        <div class="col-sm-auto">
            <a class="_blank" href="https://www.youtube.com/@DjangoSchool">YouTube Lessons</a>
        </div>
    </div>
</div>